.signup-page {
  width: 100%;
  background-image: linear-gradient(
      to top,
      rgba(33, 33, 34, 0.553),
      rgba(0, 0, 0, 0.1)
    ),
    url("../../assets/background.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nunito";
}

.signup {
  animation: fadeIn 1s ease-in-out;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  height: 400px;
  border: 2px solid rgba(128, 128, 128, 0.701);
  border-radius: 4px;
  margin-bottom: 1rem;

  img {
    margin-bottom: 3rem;
  }
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-input {
  display: block;
  padding: 8px;
  margin: 5px;
  width: 250px;
  border: 2px solid gray;
  border-radius: 8px;

  &:focus-within,
  &:active,
  &:hover {
    border: 2px solid #3b82f6;
    outline: none;
  }
}

.signup-btn {
  width: 250px;
  padding: 5px 0;
  background-color: #3b82f6;
  font-weight: bold;
  color: whitesmoke;
  font: inherit;
  border-radius: 4px;
  outline: none;
  border: none;
  margin-top: 0.8rem;
}

.login-area {
  animation: slideInUp 1s ease-in-out;
  width: 350px;
  height: 60px;
  border: 2px solid rgba(128, 128, 128, 0.701);
  border-radius: 4px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  p {
    font: bold;
    font-size: 18px;
    color: white;
  }

  a {
    text-decoration: none;
    color: #3b82f6;
    font-weight: bold;
    font: inherit;
  }
}
