:root {
    --bg-color: #ffffff;
    --font-color: #333;
    --link-color: cornflowerblue;
}

/* Applies when prefers color scheme of user is applied */
/* @media (prefers-color-scheme : dark){
    :root {
        --font-color: #eee;
        --bg-color: #040C18;
        --link-color: lightblue;
    }
} */

/* 
data-theme is a custom HTML attribute used to define the theme of the page. It is not a built-in attribute in HTML, but it can be added to elements to store additional data or information.

data-theme="dark" is used to set the theme of the page to dark mode. By applying this attribute to an element. The CSS styles inside  `[data-theme="dark"]`  selector will be applied. This allows to define specific styles for elements when the dark theme is active.  */

[data-theme="dark"] {
    --bg-color: #040C18;
    --font-color: #eee;
    --link-color: lightblue;
}


body {
    background-color: var(--bg-color);
    color: var(--font-color);
}


.toggle-theme-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.toggle-icons {
    font-size: 1.5rem;
}

/* The toggle-theme is the box around the slider */
.toggle-theme {
    position: relative;
    display: inline-block;
    /* so it will be inline and acts as a block */
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox (It will work and we will make slider equals to its size so we can change it style on whether it is checked or not) */
.toggle-theme input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

/* Position absolute so that it can be moved to the toggle-theme relative position and setting all parameters top,bottom to 0 so that it will take up the whole space of toggle-theme (Otherwise if we want to specify only few parameters we have to give it height and width */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.round {
    border-radius: 34px;
}

.round:before {
    border-radius: 50%;
}